.container{
    padding: 0;
    margin: 0;
}
.bgi {
    background-image: url('bgi.jpg');
    background-position: center;
    height: 70vh;
    /* border-radius: 20px; */
    /* margin-right: 50%; */
}
.content{
    width: 150px;
    height: 10px;
    font-size: xx-small;
    margin-left: 40px;
}
.second{
    text-align: start;
    font-size: x-small;
}
.login {
    background-color: aqua;
    color: white;
    padding: 2px 90px;
    border: none;
    border-radius: 4px;
}
.google{
    background-color: rgb(237, 84, 84);
    color: white;
    border: none;
    padding: 2px 33px;
    border-radius: 4px;
}